html {
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
    background: antiquewhite;
}

header {
    text-align: center;
    margin: 0 20px;
}

header>h1 {
    width: 30%;
    border-bottom: 2px solid Black;
}

main {
    margin-bottom: 10%;
}

a {
    background-color: white;
    text-decoration: none;
    color: Black
}

p,
li,
q {
    font-weight: bold;
}

h2 {
    text-transform: capitalize;
    text-decoration: overline;
}

h3 {
    text-decoration: underline;
}

#img_working {
    float: right;
    height: 230px;
}

#exam_use {
    display: grid;
    grid-template-columns: 50% 50%;
}

.screenshots {
    width: 60%;
}

footer {
    border-top: 1px solid grey;
}

#footbar li {
    display: inline;
}